<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ADMIN/IdeaProjects/Traveluro/src/test/java/TestNG_Practice/Annotation_2.java">
        <classes>
            <class name="TestNG_Practice.Annotation_2">
                <methods>
                    <include name="search"/>
                    <include name="advance_search"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>